{% extends 'base.html' %}

{% block head %}
<title>NHL Teams</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">NHL Teams</h1>
    <!-- {{teams}} -->
    {% if teams|length < 1%}
    <h4 style="text-align: center;">
        There are no tasks. Create one below </h4>
    {% else %}
    <a href="/standings">Standings</a>
    <div class="table-container">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Tri-Code</th>
                <th>Actions</th>
            </tr>
            {% for team in teams %}
                <tr>
                    <td>{{ team.franchiseId }}</td>
                    <td>{{ team.name }}</td>
                    <td>{{ team.tricode }}</td>
                    <td>
                        <!-- <a href="/delete/{{team.franchiseId}}">Delete</a> -->
                        <!-- <br> -->
                        <a href="/roster/{{team.id}}">Roster</a>
                        <br>
                        <a href="/schedule/{{team.id}}">Schedule</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    
    {% endif %}
    <!-- <form action="/" method="POST" style="text-align: center;">
        <input type ="text" name = "content" id="content">
        <input type="submit" value="Add Task">
    </form> -->
</div>
{% endblock %}

